import { Routes } from '@angular/router';<% if (componentFile) { %>

import { <%= componentClass %> } from './<%= componentFile %>';<% } %>

export const ROUTES: Routes = [<% if (componentFile) { %>
<%= routeObject %><% } %>
];
